.role-users-section {
  .role-users-title {
    margin-bottom: 16px;
  }

  .role-users-alert {
    margin-bottom: 16px;
  }

  .role-users-submit-wrap {
    margin-bottom: 0;
  }

  .role-users-list {
    margin-top: 24px;

    h4 {
      margin-bottom: 16px;
    }
  }
}
