.prison-admins-section {
  .prison-admins-title {
    margin-bottom: 16px;
  }

  .prison-admins-alert {
    margin-bottom: 16px;
  }

  .prison-admins-submit-wrap {
    margin-bottom: 0;
  }

  .prison-admins-list {
    margin-top: 24px;

    h4 {
      margin-bottom: 16px;
    }
  }
}
