.facility-form {
  .facility-title {
    margin-bottom: 16px;
  }

  .facility-alert {
    margin-bottom: 16px;
  }

  .facility-form-grid {
    margin-bottom: 24px;
  }

  .facility-submit-wrap {
    margin-bottom: 0;
  }

  .facilities-list {
    h4 {
      margin-bottom: 16px;
    }
  }
}