.admin-profile-section {
  .section-title {
    margin-bottom: 16px;
  }

  .section-alert {
    margin-bottom: 16px;
  }

  .section-submit-wrap {
    margin-bottom: 0;
  }

  .section-list {
    margin-top: 24px;

    h4 {
      margin-bottom: 16px;
    }
  }
}
