.inmate-wallets-section {
  .wallets-title {
    margin-bottom: 16px;
  }

  .wallets-alert {
    margin-bottom: 16px;
  }

  .wallets-submit-wrap {
    margin-bottom: 0;
  }

  .wallets-list {
    margin-top: 24px;

    h4 {
      margin-bottom: 16px;
    }
  }
}
